<!-- templates/bookings/trainer_booking_confirm_delete.html -->
{% extends 'base.html' %}

{% block title %}Delete Booking{% endblock %}

{% block content %}
<div class="container">
    <h1>Delete Booking</h1>
    <p>Are you sure you want to delete this booking?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="button is-danger">Delete</button>
        <a href="{% url 'trainer_booking_list' %}" class="button is-secondary">Cancel</a>
    </form>
</div>
{% endblock %}
