{% extends 'base.html' %}

{% block title %}Appointments{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">Appointments</h1>
        <ul class="list">
            {% for appointment in appointments %}
            <li>
                <a href="{% url 'appointment_detail' appointment.id %}" class="panel-block">
                    <span class="panel-icon">
                        <i class="fas fa-calendar"></i>
                    </span>
                    {{ appointment.dog.name }} - {{ appointment.date }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endblock %}
