{% extends 'base.html' %}

{% block title %}Create Training{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">Create Training</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="field is-grouped">
                <div class="control">
                    <button type="submit" class="button is-primary">Create Training</button>
                </div>
                <div class="control">
                    <a href="{% url 'trainings_list' %}" class="button is-light">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}
