<!-- dog_card_2.html -->

<div class="col-md-3 mb-3">
    <div class="card">
        <div class="aspect-ratio-16-9">
            <img src="{{ dog.image.url }}" class="card-img-top breed-img" alt="{{ dog.name }}">
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ dog.name }}</h5>
            <p class="card-text">{{ dog.breed }}</p>
            <a href="{% url 'dog_detail' dog.id %}" class="btn btn-primary"><i class="fas fa-eye"></i></a>
            {% if dog.is_not_adopted %}
                <a href="{% url 'adoption_form' %}" class="btn btn-success"><i class="fas fa-paw"></i> Adopt</a>
            {% endif %}
            <a href="https://buy.stripe.com/eVabIKe3X94IfO83cc" class="btn btn-info"><i class="fas fa-donate"></i></a>

            <a href="#" class="btn btn-warning"><i class="fas fa-walking"></i></a>
        </div>
    </div>
</div>
