<div class="column">
    <div class="card">
        <div class="card-image">
            <figure class="image is-square">
                <img src="{{ dog.image.url }}" alt="{{ dog.name }}">
            </figure>
        </div>
        <div class="card-content">
            <div class="content">
                <h5 class="title is-5">{{ dog.name }}</h5>
                <p><strong>Breed:</strong> {{ dog.breed }}</p>
                <p><strong>Age:</strong> {{ dog.age }}</p>
                <p><strong>Description:</strong> {{ dog.description }}</p>
                <p><strong>Adoption Status:</strong> {{ dog.is_not_adopted|yesno:"Available,Adopted" }}</p>
                {% if dog.owner %}
                    <p><strong>Owner:</strong> {{ dog.owner.first_name }} {{ dog.owner.last_name }}</p>
                {% endif %}
                {% if dog.shelter %}
                    <p><strong>Shelter:</strong> {{ dog.shelter.name }}</p>
                {% endif %}
                {% if dog.training_set.all %}
                    <p><strong>Training:</strong>
                    {% for training in dog.training_set.all %}
                        <br>{{ training.training_type }} ({{ training.date }}) - Commands:
                        {% for command in training.commands.all %}
                            {{ command.name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    {% endfor %}
                    </p>
                {% endif %}
                {% if dog.grooming_set.all %}
                    <p><strong>Grooming:</strong>
                    {% for grooming in dog.grooming_set.all %}
                        <br>{{ grooming.date }} by {{ grooming.groomer.first_name }} {{ grooming.groomer.last_name }}
                    {% endfor %}
                    </p>
                {% endif %}
            </div>
            <div class="buttons mt-3">
                <!-- Adoption button if the dog is available for adoption -->
                {% if dog.is_not_adopted %}
                    <a href="{% url 'adoption_form' %}" class="button is-success mr-2"><i class="fas fa-paw"></i> Adopt</a>
                {% endif %}
                <!-- Donate button -->
                <a href="https://donate.stripe.com/4gw6oq7Fz3Ko59ufYZc" class="button is-info"><i class="fas fa-donate"></i></a>
                <!-- Walk button -->
<!--                <a href="#" class="button is-info"><i class="fas fa-walking"></i></a>-->
            </div>
        </div>
    </div>
</div>
