<!-- dog_card_2.html -->

<div class="column is-one-fifth">
    <div class="card">
        <div class="card-image">
            <figure class="image is-square">
                <img src="{{ dog.image.url }}" alt="{{ dog.name }}">
            </figure>
        </div>
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                    <p class="title is-5">{{ dog.name }}</p>
                    <p class="subtitle is-6">{{ dog.breed }}</p>
                </div>
            </div>
            <div class="content">
                <a href="{% url 'dog_detail' dog.id %}" class="button is-primary">
                    <span class="icon"><i class="fas fa-eye"></i></span>
                </a>
                {% if dog.is_not_adopted %}
                <a href="{% url 'adoption_form' %}" class="button is-success">
                    <span class="icon"><i class="fas fa-paw"></i></span>
                    <span>Adopt</span>
                </a>
                {% endif %}
                <a href="#" class="button is-info">
                    <span class="icon"><i class="fas fa-donate"></i></span>
                </a>
<!--                <a href="#" class="button is-warning">-->
<!--                    <span class="icon"><i class="fas fa-walking"></i></span>-->
<!--                </a>-->
            </div>
        </div>
    </div>
</div>
