{% extends 'base.html' %}
{% load static %}

{% block title %}{{ dog.name }}{% endblock %}

{% block content %}
<div class="container-sm">
    <div class="row">
        <div class="col-md-4">
            {% if dog.image %}
            <img src="{{ dog.image.url }}" alt="{{ dog.name }}" class="img-thumbnail rounded">
            {% else %}
            <p>No image available</p>
            {% endif %}
        </div>
        <div class="col-md-6">
            <h1>{{ dog.name }}</h1>
            <p>Breed: {{ dog.breed }}</p>
            <p>Age: {{ dog.age }}</p>
            <p>Sex: {{ dog.get_sex_display }}</p>
            <p>Description: {{ dog.description }}</p>
            <p>Adoption Status: {{ dog.is_not_adopted|yesno:"Available,Adopted" }}</p>
            {% if dog.owner %}
            <p>Owner: {{ dog.owner.first_name }} {{ dog.owner.last_name }}</p>
            {% endif %}
            {% if dog.shelter %}
            <p>Shelter: {{ dog.shelter.name }}</p>
            {% endif %}
            <p>Weight: {{ dog.weight }}</p>
            <p>Height: {{ dog.height }}</p>
            <p>Color: {{ dog.color }}</p>
            <p>Eye Color: {{ dog.eye_color }}</p>
            <p>Last Known Location: {{ dog.last_known_location }}</p>
        </div>

    </div>

    <!-- Add more detailed fields if necessary -->

    <a href="{% url 'update_dog' dog.id %}" class="btn btn-primary">Edit</a>
    <a href="{% url 'delete_dog' dog.id %}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this dog?');">Delete</a>
</div>

{% endblock %}
