{% extends 'base.html' %}
{% load static %}
{% block title %}Dogs{% endblock %}

{% block content %}
<div class="container">
    <h1>Dogs</h1>
    <a href="{% url 'create_dog' %}" class="btn btn-primary mb-4">Create New Dog</a>

    <h2>Dogs for Adoption</h2>
    <div class="row">
        {% for dog in dogs_for_adoption %}
        {% include 'dog_card.html' %}
        {% endfor %}
    </div>

    <h2>Sick Dogs</h2>
    <div class="row">
        {% for dog in sick_dogs %}
        {% include 'dog_card.html' %}
        {% endfor %}
    </div>

    <h2>Modeling Dogs</h2>
    <div class="row">
        {% for dog in modeling_dogs %}
        {% include 'dog_card.html' %}
        {% endfor %}
    </div>

    <h2>Most Trained Dogs</h2>
    <div class="row">
        {% for dog in most_trained_dogs %}
        {% include 'dog_card.html' %}
        {% endfor %}
    </div>

    <h2>Trainer's Dogs</h2>
    <div class="row">
        {% for dog in trainers_dogs %}
        {% include 'dog_card.html' %}
        {% endfor %}
    </div>
</div>
{% endblock %}
