{% extends 'base.html' %}

{% block title %}Dogs{% endblock %}

{% block content %}
<div class="container">
    <h1>Dogs Available for Adoption</h1>
    <div class="row">
        {% for dog in dogs %}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">{{ dog.name }}</h5>
                    <p class="card-text">
                        Breed: {{ dog.breed }}<br>
                        Age: {{ dog.age }}<br>
                        Description: {{ dog.description }}<br>
                        Adoption Status: {{ dog.adoption_status|yesno:"Available,Adopted" }}
                    </p>
                    {% if dog.owner %}
                    <p>Owner: {{ dog.owner.first_name }} {{ dog.owner.last_name }}</p>
                    {% endif %}
                    {% if dog.shelter %}
                    <p>Shelter: {{ dog.shelter.name }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
