{% extends 'base.html' %}

{% block title %}Events{% endblock %}

{% block content %}
<div class="container">
    <h1>Events</h1>
    <ul class="list-group">
        {% for event in events %}
        <li class="list-group-item">
            <div class="level">
                <div class="level-left">
                    <div>
                        <a href="{% url 'event_detail' event.id %}">{{ event.name }}</a>
                    </div>
                </div>
                <div class="level-right">
                    <div>
                        <span class="tag">{{ event.date }}</span>
                    </div>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
