{% extends 'base.html' %}

{% block title %}{{ event.name }}{% endblock %}

{% block content %}
<div class="container">
    <h1>{{ event.name }}</h1>
    <p><strong>Date:</strong> {{ event.date }}</p>
    <p><strong>Location:</strong> {{ event.location }}</p>
    <p><strong>Description:</strong> {{ event.description }}</p>
    <div class="field is-grouped">
        <div class="control">
            <a href="{% url 'event_list' %}" class="button is-secondary">Back to Events List</a>
        </div>
        <div class="control">
            <a href="{% url 'event_update' event.id %}" class="button is-warning">Update</a>
        </div>
        <div class="control">
            <a href="{% url 'event_delete' event.id %}" class="button is-danger">Delete</a>
        </div>
    </div>
</div>
{% endblock %}
