{% extends 'base.html' %}
{% block title %}Update {{ spot.name }}{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">Update {{ spot.name }}</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="field is-grouped">
                <div class="control">
                    <button type="submit" class="button is-primary">Update</button>
                </div>
                <div class="control">
                    <a href="{% url 'friendlyspot_detail' spot.id %}" class="button is-secondary">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}
