{% extends 'base.html' %}

{% block title %}Friendly Spots{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">Friendly Spots</h1>
        <ul class="list">
            {% for spot in spots %}
            <li>
                <a href="{% url 'friendlyspot_detail' spot.id %}" class="box">
                    <span>{{ spot.name }}</span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endblock %}
