{% extends 'base.html' %}

{% block title %}Friendly Spots{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>

    <dotlottie-player src="https://lottie.host/7db608b6-7a25-44e9-ae54-497f2beda51d/Gy5t8L7AAG.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></dotlottie-player>
        <h1 class="title">Friendly Spots</h1>
        <ul class="list">
            {% for spot in spots %}
            <li>
                <a href="{% url 'friendlyspot_detail' spot.id %}" class="box">
                    <span>{{ spot.name }}</span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endblock %}
