{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<!-- Page content -->
<div class="container my-5">
    <!-- Dogs for Adoption Section -->
    <h2 class="my-4 title is-4">Dogs for Adoption</h2>
    <div class="columns is-multiline">
        {% for dog in dogs %}
        {% if dog.is_not_adopted %}
        {% include 'dog_card_2.html' with dog=dog %}
        {% endif %}
        {% endfor %}
    </div>

    <!-- Featured Dogs Section -->
    <h2 class="my-4 title is-4">Featured Dogs</h2>
    <div class="columns is-multiline">
        {% for dog in featured_dogs %}
        {% include 'dog_card_2.html' with dog=dog %}
        {% endfor %}
    </div>

    <!-- Upcoming Events Section -->
    <h2 class="my-4 title is-4">Upcoming Events</h2>
    <div class="columns is-multiline">
        {% for event in events %}
        <div class="column is-half">
            <div class="card">
                <div class="card-content">
                    <h5 class="title is-5">{{ event.title }}</h5>
                    <p>{{ event.date }} at {{ event.location }}</p>
                    <p>{{ event.description|truncatewords:20 }}</p>
                    <a href="{% url 'event_detail' event.id %}" class="button is-primary">Learn More</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Testimonials Section -->
    <h2 class="my-4 title is-4">Testimonials</h2>
    <div class="columns is-multiline">
        {% for testimonial in testimonials %}
        <div class="column is-one-third">
            <div class="card">
                <div class="card-content">
                    <p>"{{ testimonial.content }}"</p>
                    <p><small>- {{ testimonial.author }}</small></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Resources Section -->
    <h2 class="my-4 title is-4">Resources</h2>
    <div class="columns is-multiline">
        <div class="column is-one-third">
            <div class="card">
                <div class="card-content">
                    <h5 class="title is-5">Dog Care Tips</h5>
                    <p>Useful tips to take care of your beloved dog.</p>
                    <a href="{% url 'resource_detail' 'dog-care-tips' %}" class="button is-primary">Read More</a>
                </div>
            </div>
        </div>
        <div class="column is-one-third">
            <div class="card">
                <div class="card-content">
                    <h5 class="title is-5">Training Guides</h5>
                    <p>Comprehensive guides to train your dog effectively.</p>
                    <a href="{% url 'resource_detail' 'training-guides' %}" class="button is-primary">Read More</a>
                </div>
            </div>
        </div>
        <div class="column is-one-third">
            <div class="card">
                <div class="card-content">
                    <h5 class="title is-5">Health & Nutrition</h5>
                    <p>Essential information on maintaining your dog's health and diet.</p>
                    <a href="{% url 'resource_detail' 'health-nutrition' %}" class="button is-primary">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
