{% extends 'base.html' %}

{% block title %}Update Microchip {{ microchip.id_number }}{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">Update Microchip {{ microchip.id_number }}</h1>
        <form method="post">
            {% csrf_token %}
            <div class="field">
                {{ form.as_p }}
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <button type="submit" class="button is-primary">Update</button>
                </div>
                <div class="control">
                    <a href="{% url 'microchip_detail' microchip.id %}" class="button is-secondary">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}
