{% extends 'base.html' %}

{% block title %}Delete {{ owner.first_name }} {{ owner.last_name }}{% endblock %}

{% block content %}
<div class="container">
    <h1>Delete {{ owner.first_name }} {{ owner.last_name }}</h1>
    <p>Are you sure you want to delete this owner?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete</button>
        <a href="{% url 'owner_list' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}
