{% extends 'base.html' %}
{% load static %}
{% block title %}Owners List{% endblock %}

{% block content %}
<div class="container">
    <h1 class="my-4">Owners List</h1>
    <div class="row">
        {% for owner in owners %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                {% if owner.profile_image %}
                <img src="{{ owner.profile_image.url }}" class="card-img-top" alt="{{ owner.first_name }} {{ owner.last_name }}">
                {% else %}
                <img src="{% static 'images/default-profile.jpg' %}" class="card-img-top" alt="Default Profile Image">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ owner.first_name }} {{ owner.last_name }}</h5>
                    <p class="card-text">{{ owner.email }}</p>
                    <p class="card-text">{{ owner.phone_number }}</p>
                    <p class="card-text">Number of Dogs: {{ owner.owner_profile.number_of_dogs }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
