{% extends 'base.html' %}

{% block title %}Training on {{ training.date }}{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">Training Details</h1>
        <div class="content">
            <p><strong>Dog:</strong> {{ training.dog.name }}</p>
            <p><strong>Training Type:</strong> {{ training.training_type }}</p>
            <p><strong>Date:</strong> {{ training.date }}</p>
            <p><strong>Notes:</strong> {{ training.notes }}</p>
            <div class="field is-grouped">
                <div class="control">
                    <a href="{% url 'training_list' %}" class="button is-secondary">Back to Trainings List</a>
                </div>
                <div class="control">
                    <a href="{% url 'training_update' training.id %}" class="button is-warning">Update</a>
                </div>
                <div class="control">
                    <a href="{% url 'training_delete' training.id %}" class="button is-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
