{% extends 'base.html' %}

{% block title %}Update Trainer{% endblock %}

{% block content %}
<div class="container">
    <h1 class="title">Update Trainer</h1>
    <form method="post" enctype="multipart/form-data" class="mt-5">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="field is-grouped">
            <div class="control">
                <button type="submit" class="button is-primary">Save</button>
            </div>
            <div class="control">
                <a href="{% url 'trainers_list' %}" class="button is-secondary">Cancel</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}
