{% extends 'base.html' %}

{% block title %}Delete User Profile{% endblock %}

{% block content %}
<div class="container">
    <h1 class="title">Delete User Profile</h1>
    <div class="content">
        <p>Are you sure you want to delete the profile for {{ profile.username }}?</p>
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="field">
            <div class="control">
                <button type="submit" class="button is-danger">Delete</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
