{% extends 'base.html' %}

{% block title %}Update Vaccination Record{% endblock %}

{% block content %}
<div class="container">
    <h1 class="title">Update Vaccination Record</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="field is-grouped">
            <div class="control">
                <button type="submit" class="button is-primary">Update</button>
            </div>
            <div class="control">
                <a href="{% url 'vaccination_record_detail' vaccination_record.id %}" class="button is-secondary">Cancel</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}
