{% extends 'base.html' %}

{% block title %}Delete Vaccination Record{% endblock %}

{% block content %}
<div class="container">
    <h1>Delete Vaccination Record</h1>
    <p>Are you sure you want to delete this vaccination record?</p>
    <form method="post">
        {% csrf_token %}
        <div class="field is-grouped">
            <div class="control">
                <button type="submit" class="button is-danger">Delete</button>
            </div>
            <div class="control">
                <a href="{% url 'vaccination_record_list' %}" class="button is-secondary">Cancel</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}
