{% extends 'base.html' %}
{% load static %}

{% block title %}Walkers List{% endblock %}

{% block content %}
<div class="container">
    <h1 class="title my-4">Walkers List</h1>
    <div class="columns is-multiline">
        {% for walker in walkers %}
        <div class="column is-4">
            <div class="card mb-4 shadow">
                {% if walker.profile_image %}
                <img src="{{ walker.profile_image.url }}" class="card-img-top" alt="{{ walker.first_name }} {{ walker.last_name }}">
                {% else %}
                <img src="{% static 'images/default-profile.jpg' %}" class="card-img-top" alt="Default Profile Image">
                {% endif %}
                <div class="card-content">
                    <div class="content">
                        <h5 class="title is-5">{{ walker.first_name }} {{ walker.last_name }}</h5>
                        <p>{{ walker.email }}</p>
                        <p>{{ walker.phone_number }}</p>
                        {% if walker.walker_profile %}
                        <p>Experience: {{ walker.walker_profile.walking_experience_years }} years</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
