{% extends 'base.html' %}

{% block title %}Walks{% endblock %}

{% block content %}
<div class="container">
    <h1 class="title">Walks</h1>
    <div class="buttons mb-4">
        <a href="{% url 'create_walk' %}" class="button is-primary">Create Walk</a>
    </div>
    <ul class="list-group">
        {% for walk in walks %}
            <li class="list-group-item">
                <a href="{% url 'walk_detail' walk.id %}">{{ walk.dog.name }} - {{ walk.date }}</a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
