{% extends 'base.html' %}

{% block title %}Update Walk{% endblock %}

{% block content %}
<div class="container">
    <h1>Update Walk</h1>
    <form method="post">
        {% csrf_token %}
        <div class="field">
            <label class="label">Dog</label>
            <div class="control">
                {{ form.dog }}
            </div>
        </div>
        <div class="field">
            <label class="label">Walker</label>
            <div class="control">
                {{ form.walker }}
            </div>
        </div>
        <div class="field">
            <label class="label">Date</label>
            <div class="control">
                {{ form.date }}
            </div>
        </div>
        <div class="field">
            <label class="label">Duration</label>
            <div class="control">
                {{ form.duration }}
            </div>
        </div>
        <div class="field is-grouped">
            <div class="control">
                <button type="submit" class="button is-primary">Update</button>
            </div>
            <div class="control">
                <a href="{% url 'walk_detail' walk.id %}" class="button is-secondary">Cancel</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}
